# Separate due to limitations on riscv-formal ISA parsing
[options]
isa rv32iZbkb_Zbkc_Zbkx
nbus 2

[depth]
insn                  25

[defines]
`define RISCV_FORMAL_ALIGNED_MEM
`define RISCV_FORMAL_ALTOPS
`define RISCV_FORMAL_MEM_FAULT
`define NO_COMPRESSED_ISA

[script-sources]
read_verilog -formal @basedir@/cores/@core@/hdl/*.v
prep -flatten

[filter-checks]
# Remove RV32I instructions, as these are already covered (with RVC also
# disabled in hardware) by checks_rv32ib.cfg
+ insn_andn_ch0
+ insn_brev8_ch0
+ insn_clmul_ch0
+ insn_clmulh_ch0
+ insn_orn_ch0
+ insn_pack_ch0
+ insn_packh_ch0
+ insn_rev8_ch0
+ insn_rol_ch0
+ insn_ror_ch0
+ insn_rori_ch0
+ insn_unzip_ch0
+ insn_xnor_ch0
+ insn_xperm4_ch0
+ insn_xperm8_ch0
+ insn_zip_ch0
- insn_*
