[options]
isa rv32imc
nbus 1

# Reduced depth as these are really all covered in the 2-port tests; the bus
# checks are the interesting ones
[depth]
insn                  20
reg             1     15
pc_fwd          1     20
pc_bwd          1     20
liveness        1  15 60
unique          1  15 25
causal          1     25

bus_imem        1     15
bus_imem_fault  1     15
bus_dmem        1     15
bus_dmem_fault  1     15

[defines]
`define RISCV_FORMAL_ALIGNED_MEM
`define RISCV_FORMAL_ALTOPS
`define RISCV_FORMAL_MEM_FAULT
`define SINGLE_PORTED_CORE

[sort]
bus_imem
bus_imem_fault
bus_dmem
bus_dmem_fault
pc_fwd
liveness

[script-sources]
read_verilog -formal @basedir@/cores/@core@/hdl/*.v
prep -flatten
