[options]
isa rv32imc
nbus 2

# Zcmp limitations:
#
# * riscv-formal doesn't understand instructions with multiple bus accesses,
#   so can't run bus_dmem
#
# * riscv-formal doesn't understand instructions with multiple register
#   writes, so can't run reg
#
# * Single Zcmp instruction is up to 16 uops with only the last counting as an
#   rvfi_valid retire, therefore impractical to run liveness check.

[depth]
insn                  20
# reg             1     15
pc_fwd          1     20
pc_bwd          1     20
# liveness        1  15 60
unique          1  15 25
causal          1     25

bus_imem        1     15
bus_imem_fault  1     15
# bus_dmem        1     15
# bus_dmem_fault  1     15

[defines]
`define RISCV_FORMAL_ALIGNED_MEM
`define RISCV_FORMAL_ALTOPS
`define RISCV_FORMAL_MEM_FAULT
`define ISA_ZCMP

[sort]
bus_imem
bus_imem_fault
pc_fwd

[script-sources]
read_verilog -formal @basedir@/cores/@core@/hdl/*.v
prep -flatten
