# Separate due to limitations on riscv-formal ISA parsing
[options]
isa rv32iZba_Zbb_Zbc_Zbs
nbus 2

[depth]
insn                  25

[defines]
`define RISCV_FORMAL_ALIGNED_MEM
`define RISCV_FORMAL_ALTOPS
`define RISCV_FORMAL_MEM_FAULT
`define NO_COMPRESSED_ISA

[script-sources]
read_verilog -formal @basedir@/cores/@core@/hdl/*.v
prep -flatten
